Source: lehreroffice
Section: unknown
Priority: extra
Maintainer: Basil Stotz <stotz@amxa.ch>
Package: lehreroffice-1.0
Version: %VERSION%
Architecture: amd64
Depends: debconf
Description: Lehreroffice
 Lehreroffice Version %VERSION%


